<%= render 'layouts/header' %>

<div class="container" style="margin-top: 80px">
  <div class="text-center">
    <h2>Artistas</h2>
  </div>
  <br><br>
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
      <br><br><br><br><br><br>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
      <br><br><br><br><br><br>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
      <br><br><br><br><br><br>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
  	</div>
    <div class="col-md-4">
      <div class="media">
          <span class="media-left">
              <img src="http://www.fakenamegenerator.com/dummyimage/140x140/CCCCCC/000000/0 " alt="..." class="img-circle">
          </span>
          <div class="media-body">
              <h4 class="media-heading">Ranking</h4><p>4</p>
              <h4 class="media-heading">Nombre</h4><p>Artista 1</p>
              <h4 class="media-heading"># de Instatoons</h4><p>25</p>
              <h4 class="media-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </h4>
          </div>
      </div>
      <br><br><br><br><br><br>
  	</div>
  </div>
  <div class="text-center" style="margin-bottom: 50px">
    <button type="button" class="btn btn-primary">Cargar Más</button>
  </div>
</div>


<br>
<br>
<br>
<%= render 'layouts/footer' %>
