<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Instatoons.co</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Artistas</a></li>
        <li><a href="#">Instatoons</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Registrarse</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" style="margin-top: 80px">
  <div class="text-center">
    <h2>Destacados Hoy</h2>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default panelD">
        <div class="panel-heading">
          <ul class="list-inline">
              <li>Fred</li>
              <li class="pull-right" style="padding-right: 0;">1 week</li>
          </ul>
        </div>
        <div class="panel-image">
          <img src="/assets/uberrimo.jpg" class="panel-image-preview" />
        </div>
        <div class="panel-body">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </blockquote>
          <span class="tagz">Tags: <a>#faking</a></span>
        </div>
        <div class="panel-footer">
          <ul class="list-inline clearfix">
            <li class="col-sm-4 col-md-4 col-lg-4 level-line-up"><a href=""><span class="fa fa-thumbs-o-up"></span> Like</a><span>10</span></li>
            <li class="col-sm-4 col-md-4 col-lg-4 level-line-up"><center><a href=""><span class="fa fa-comments"></span> </a><span>10</span></center></li>
            <li class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 0;"><span class="pull-right">10</span><a class="pull-right" href=""><span class="fa fa-bomb"></span> Nutty</a></li>
          </ul>
        </div>
    </div>
	</div>
  <div class="col-md-6">
    <div class="panel panel-default panelD">
        <div class="panel-heading">
          <ul class="list-inline">
              <li>Fred</li>
              <li class="pull-right" style="padding-right: 0;">1 week</li>
          </ul>
        </div>
        <div class="panel-image">
          <img src="/assets/payaso.jpg" class="panel-image-preview" />
        </div>
        <div class="panel-body">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </blockquote>
          <span class="tagz">Tags: <a>#faking</a></span>
        </div>
        <div class="panel-footer">
          <ul class="list-inline clearfix">
            <li class="col-sm-4 col-md-4 col-lg-4 level-line-up"><a href=""><span class="fa fa-thumbs-o-up"></span> Like</a><span>10</span></li>
            <li class="col-sm-4 col-md-4 col-lg-4 level-line-up"><center><a href=""><span class="fa fa-comments"></span> </a><span>10</span></center></li>
            <li class="col-sm-4 col-md-4 col-lg-4" style="padding-right: 0;"><span class="pull-right">10</span><a class="pull-right" href=""><span class="fa fa-bomb"></span> Nutty</a></li>
          </ul>
        </div>
    </div>
	</div>
</div>

<hr>

<div class="container">
  <div class="text-center">
    <h2>Top 4 de Artistas Destacados</h2>
  </div>
  <br>
  <div class="col-md-6">
    <div class="media">
        <span class="media-left">
            <img src="http://www.fakenamegenerator.com/dummyimage/50x50/CCCCCC/000000/0" alt="..." class="img-circle">
        </span>
        <div class="media-body">
            <h3 class="media-heading"><h4>Artista 1</h4></h3>
        </div>
        <br>
        <div>
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
        </div>
    </div>
    <div class="media">
        <span class="media-left">
            <img src="http://www.fakenamegenerator.com/dummyimage/50x50/CCCCCC/000000/0" alt="..." class="img-circle">
        </span>
        <div class="media-body">
            <h3 class="media-heading"><h4>Artista 3</h4></h3>
        </div>
        <br>
        <div>
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="media">
        <span class="media-left">
            <img src="http://www.fakenamegenerator.com/dummyimage/50x50/CCCCCC/000000/0" alt="..." class="img-circle">
        </span>
        <div class="media-body">
            <h3 class="media-heading"><h4>Artista 2</h4></h3>
        </div>
        <br>
        <div>
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
        </div>
    </div>
    <div class="media" style="margin-bottom: 50px">
        <span class="media-left">
            <img src="http://www.fakenamegenerator.com/dummyimage/50x50/CCCCCC/000000/0" alt="..." class="img-circle">
        </span>
        <div class="media-body">
            <h3 class="media-heading"><h4>Artista 4</h4></h3>
        </div>
        <br>
        <div>
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
          <img src="http://www.fakenamegenerator.com/dummyimage/200x200/CCCCCC/000000/0 " alt="..." class="img-thumbnail">
        </div>
    </div>
  </div>

  <div class="text-center" style="margin-bottom: 50px">
    <button type="button" class="btn btn-primary">Ver Todos</button>
  </div>
</div>
<br>
<br>
<br>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2017 - danielmorales1202@gmail.com </p>
  </div>
</div>
